[submodule "opentamp/task_planners/downward"]
	path = opentamp/task_planners/downward
    url = https://github.com/aibasel/downward.git
    ignore = all
[submodule "opentamp/gps"]
	path = opentamp/gps
	url = https://github.com/cbfinn/gps.git
[submodule "opentamp/drake_gym_sim"]
	path = opentamp/drake_gym_sim
	url = https://github.com/rachelma80000/drake_gym_sim.git
	branch = version4
